<div class="row mainpage">
  <div class="col-md-3 col-xs-6">
    <a ng-href="#/browse/fashion">
      <div class="thumbnail">
        <img src="../images/g1.jpg" >
        <div class="slide"></div> 
      </div>
    </a>
  </div>
  <div class="col-md-3 col-xs-6">
    <a ng-href="#/browse/technology">
      <div class="thumbnail">
        <img src="../images/g2.jpg" >
        <div class="slide"></div> 
      </div>
    </a>
  </div>
  <div class="col-md-3 col-xs-6">
    <a ng-href="#/browse/art">
      <div class="thumbnail">
        <img src="../images/g3.jpg" >
        <div class="slide"></div> 
      </div>
    </a>
  </div>
  <div class="col-md-3 col-xs-6">
      <a ng-href="#/browse/craft">
      <div class="thumbnail">
        <img src="../images/g4.jpg" >
        <div class="slide"></div> 
      </div>
    </a>
  </div>
</div>

<div class="row mainpage">
  <div class="col-md-3 col-xs-6">
    <a ng-href="#/browse/music">
      <div class="thumbnail">
        <img src="../images/g5.jpg" >
        <div class="slide"></div> 
      </div>
    </a>
  </div>
  <div class="col-md-3 col-xs-6">
    <a ng-href="#/browse/non-profit">
      <div class="thumbnail">
        <img src="../images/g6.jpg" >
        <div class="slide"></div> 
      </div>
    </a>
  </div>
  <div class="col-md-3 col-xs-6">
    <a ng-href="#/browse/movie">
      <div class="thumbnail">
        <img src="../images/g7.jpg" >
        <div class="slide"></div> 
      </div>
    </a>
  </div>
  <div class="col-md-3 col-xs-6">
    <a ng-href="#/browse/design">
      <div class="thumbnail">
        <img src="../images/g8.jpg" >
        <div class="slide"></div> 
      </div>
    </a>
  </div>
</div>